@charset "ISO-8859-1";
*
{
margin:0;
padding:0;
}
body{
min-width:1024px;
overflow-x:hidden;
background: #f0f0f0;
}
img{border:0}
a{text-decoration:none}
ul,ol{list-style:none}.clr{clear:both}
p{
-webkit-margin-before:0;
-webkit-margin-after:0;
-webkit-margin-start:0;
-webkit-margin-end:0;
text-rendering:geometricPrecision}
input[type=text],input[type=tel],textarea{-webkit-appearance:none}body,input,button,option,textarea,label,legend,h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
font:14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
color:#333;
outline:none;
zoom:1;
}
header{
position:absolute;
top:0;
min-width:1024px;
background:#fed700;
width:100%;
height:55px;
z-index:3;
}
/**session1**/
section{
max-width:1200px;
width:100%;
min-width:980px;
margin:55px auto 0;
position:relative;
}
section {
    padding-top: 10px;
}
.homebanner {
    float: left;
    width: 65.834%;
    height: 354px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    margin-bottom: 15px;
}
.homenews {
    float: right;
    width: 33.2%;
    height: 354px;
    overflow: hidden;
}
.homenews figure {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #efefef!important;
    background: #fff!important;
}
.homenews h2 {
    float: left;
    padding: 10px 20px 10px 10px;
    background: #fdd504;
    line-height: 1.3em;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.homenews h2 a {
    font-weight: 600;
}
.homenews h2:after {
    content: '';
    width: 0;
    height: 0;
    border-right: 12px solid #fff;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.homenews ul {
    display: block;
    overflow: hidden;
}
.homenews li {
    display: block;
    padding: 10px 10px 5px;
    border-bottom: 1px solid #ededed;
    background: #fff;
}
.homenews li img {
    float: left;
    width: 100px;
    height: 57px;
    margin: 0 10px 0 0;
}
.homenews li h3 {
    display: block;
    overflow: hidden;
    height: 36px;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
.homebanner .owl-buttons {
    position: absolute;
    top: 38%;
    height: 0;
    width: 100%;
    display: none;
}
/*slideshow*/
#sync1 .item {
    background: #f8f8f8;
    text-align: center;
    height: 300px;
    color: #fff;
}
#sync1 .item {
    background: #f8f8f8;
    text-align: center;
    height: 300px;
    color: #fff;
}
#sync2 {
    display: block;
    width: 100%;
    background: #fff;
    height: 55px;
}
#sync2 .item h3 {
    font-size: 12px;
    line-height: 1.3em;
    display: inline-block;
    vertical-align: middle;
    display: table-cell;
}
#sync2 .item {
    display: table;
    width: 98%;
    vertical-align: middle;
    position: relative;
    background: #fff;
    color: #666;
    text-align: center;
    cursor: pointer;
    height: 55px;
    font-size: 12px;
    padding: 0 1%;
}
#sync2 .owl-item:after {
    content: '';
    float: right;
    height: 30px;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 13px;
    right: 0;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}
/**San pham hot**/
.homepromo.weekend {
    border: 1px solid #ff4d00;
    margin-top: 30px;
    overflow: visible;
    padding-top: 20px;
}
.homepromo.weekend:before {
    content: ' ';
    display: block;
    background: url(/Content/desktop/images/gsct.png) no-repeat center center;
    background-size: 309px 38px;
    width: 309px;
    height: 38px;
    position: absolute;
    left: 50%;
    top: -19px;
    margin-left: -154px;
    z-index: 9;
}
.homepromo {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    height: 351px;
    overflow: hidden;
}
.homepromo img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 15px auto;
    transition: all ease 300ms;
}
.homepromo .item {
    position: relative;
    overflow: hidden;
}
.item2020 a.vertion2020 {
    padding: 10px 0;
}
.item2020 a.vertion2020 h6.textkm {
    margin: 5px 10px 0;
}
.item2020 a.vertion2020 .price {
    padding: 0;
    margin: 5px 10px 0;
}
.item2020 a.vertion2020 .heightlabel {
    overflow: hidden;
    height: 23px;
}
.item2020 li.feature a.vertion2020 img {
    width: 480px;
    height: 222px;
    margin: 0 0 10px;
}
.homepromo h3 {
    display: block;
    line-height: 1.3em;
    font-size: 14px;
    color: #333;
    margin: 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.homepromo strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #bf081f;
    line-height: 15px;
}
.item2020 a.vertion2020 .props span {
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    color: #777;
    border-radius: 5px;
    position: relative;
    margin: 5px 0 0;
    border: 1px solid #eee;
    padding: 0 5px !important;
}
.homeproduct li span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #333;
}
.item2020 a.vertion2020 .ratingresult {
    padding: 0;
    margin: 5px 10px 0;
}
.item2020 a.vertion2020 img.icon-imgNew {
    top: 107px;
    display: none;
}
.homepromo img.icon-imgNew.cate42 {
    top: 145px;
    left: 64%;
}
.homepromo img.icon-imgNew {
    top: 108px;
    position: absolute;
    left: 69%;
    width: 45px;
    height: auto;
}
.installment {
    background: #f28902;
}
.item2020 a.vertion2020 label {
    position: static;
    margin: 0 10px 5px;
    display: inline-block;
    font-weight: unset;
}
.item2020 a.vertion2020 .ratingresult i.icontgdd-ystar {
    background-position: -295px -30px;
    width: 12px;
    height: 12px;
}
.item2020 a.vertion2020 .ratingresult i.icontgdd-gstar {
    background-position: -310px -30px;
    width: 12px;
    height: 12px;
}
[class^="icontgdd-"], [class*="icontgdd-"], [class^="iconmobile-"], [class*="iconmobile-"] {
    background-image: url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V4/icondesktop2022@1x_edit.png?v=004);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.homeproduct li label {
    display: inline-block;
    position: absolute;
    top: 187px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}
.homeproduct {
    clear: both;
    display: block;
    background: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 100%;
    border-top: 1px solid #eee;
    margin-bottom: 15px;
}
.homeproduct li a {
    display: block;
    overflow: hidden;
    background: #fff;
    padding: 10px 0;
}
.homeproduct li {
    float: left;
    position: relative;
    width: 19.917%;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.item2020 a.vertion2020 h3 {
    margin: 0 10px;
    padding: 0;
}
.homeproduct li.feature {
    width: 39.917%;
}
.homeproduct .feature img {
    width: 95%;
}
.homepromo img:hover{
    margin-top: 0px!important;
    transition: 0.8s;
}
.homeproduct li img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 15px auto;
}
.homeproduct li img:hover{
    margin-top: 0px!important;
    transition: 0.2s;
}
.homeproduct #maytinh {
    width: 99%;
}
.homeproduct #maytinh1 {
    width: 470px;
}

.homeproduct li strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
    color: #bf081f;
    line-height: 15px;
}
.homeproduct li .promo.noimage p {
    margin-left: 0;
    width: auto;
}
.navigat h2 {
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 10px;
    text-transform: uppercase;
}
.navigat a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #288ad6;
    padding: 14px 10px;
}
.navigat {
    display: block;
    overflow: hidden;
    background: #fff;
}
.owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
}
.homepromo .owl-buttons {
    position: absolute;
    top: 24%;
    height: 0;
    width: 100%;
    display: block;
}
.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-carousel .owl-wrapper-outer{
    overflow:hidden;
    position:relative;
    width:100%;
}
.navigat div {
    float: right;
    overflow: hidden;
}
#owl-promo-old .item div.div-extend {
    margin: 0;
    position: absolute;
    top: 150px;
    left: 5px;
    width: 40%;
    white-space: nowrap;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0,0,0);
}
#owl-promo-old .item img {
    display: block;
    width: 130px;
    height: 130px;
    margin: 15px auto 20px;
}
#owl-promo-old .item .labelshock-top {
    vertical-align: middle;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 5px;
    color: #fff;
    font-weight: 600;
    background: #f51212;
    border-radius: 3px;
    padding: 3px 8px;
    margin: 1px 10px 0 5px;
    height: 18px;
    text-decoration: none;
    font-size: 11px;
}
#owl-promo-old span.quantity, #owl-promo-old span.labelshock-top {
    position: absolute !important;
}
#owl-promo-old span, #owl-promo-old label, #owl-promo-old .item .newprice {
    text-decoration: none;
    background: none;
    color: #999;
    font-weight: normal;
    margin-right: 4px;
    font-size: 12px;
    text-align: left;
    top: auto;
    position: inherit !important;
    margin-left: 5px;
}
#owl-promo-old .item .oldprice {
    display: block;
    font-size: 14px;
    color: #d0021b;
    font-weight: 600;
    margin: 5px 5px 0 5px;
    text-align: left;
}
#owl-promo-old .item .price-line {
    text-decoration: line-through;
    font-size: 12px;
}
#owl-promo-old span, #owl-promo-old label, #owl-promo-old .item .newprice {
    text-decoration: none;
    background: none;
    color: #999;
    font-weight: normal;
    margin-right: 4px;
    font-size: 12px;
    text-align: left;
    top: auto;
    position: inherit !important;
    margin-left: 5px;
}
.homepromo label {
    display: inline-block;
    position: absolute;
    top: 187px;
    left: 10px;
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    background: #3fb846;
    border-radius: 2px;
    padding: 0 5px;
    height: 18px;
}
#owl-promo-old .item .oldprice {
    display: block;
    font-size: 14px;
    color: #d0021b;
    font-weight: 600;
    margin: 5px 5px 0 5px;
    text-align: left;
}
.homepromo span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #333;
}

#owl-promo-old .div-extend .quantity {
    background: #f4f4f4;
    padding: 0 5px;
    font-size: 11px;
    border-radius: 2px;
    margin-left: 5px;
    color: #8d8d8d;
    display: inline-block;
    text-decoration: none;
}
#owl-promo-old span.quantity, #owl-promo-old span.labelshock-top {
    position: absolute !important;
}
#owl-promo-old span, #owl-promo-old label, #owl-promo-old .item .newprice {
    text-decoration: none;
    background: none;
    color: #999;
    font-weight: normal;
    margin-right: 4px;
    font-size: 12px;
    text-align: left;
    top: auto;
    position: inherit !important;
    margin-left: 5px;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.homeproduct .item .laptop img {
    margin: 45px auto;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
/*footer*/
footer{
width:100%;
min-width:1024px;
margin:0 auto;
background:#fff;
overflow:hidden;
clear:both;
}
.wrap-main{
max-width:1200px;
min-width:1024px;
width:100%;
height:55px;
background:#000;
margin:auto;
position:relative;
display:block;
}
.logo{
float:left;
width:165px;
display:block;
padding:14px 0 11px 5px;
}
.logo a{
display:block;
overflow:hidden;
}
#search-site{
float:left;
width:230px;
height:35px;
margin:10px 10px 0 10px;
background:#fff;
position:relative;
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
}
.topinput{
float:left;
width:162px;
margin-left:8px;
padding-top:3px;
border:0;
position:relative;
background:#fff;
height:30px;
text-indent:10px;
font-size:13px;
}
.btntop{
float:right;
width:40px;
height:35px;
border:0;
background:none;
}
nav{
width:780px;
background:#fed700;
margin:0;
padding:0;
display:table;
*display:block;
*float:none;
}
nav a{
display:table-cell;
*float:left;
width:75px;
height:44px;
padding:3px 0 4px;
color:#000;
background:#fed700;
font-size:11px;
text-align:center;
text-transform:uppercase;
position:relative;
}
nav a:hover,nav a.actmenu{
background-color:#f5f5f5;
}
nav a.mobile{
width:80px;
}
nav a.tablet{
width:80px;
}
nav a.laptop{
width:74px;
}
nav a.phukien{
width:70px;
}
nav a.simcard{
width:60px;
}
nav a.ask{
width:70px;
}
nav a.maydoitra{
width:80px;
}
nav a.gameapp{
width:80px;
height:43px;
}
nav a span{
display:block;
position:absolute;
top:9px;
width:23px;
margin:auto;
left:0;
right:0;
font-size:11px;
}
nav a.cardsim,nav a.utility{
text-transform:none;
font-size:13px;
padding:0;
vertical-align:middle;
line-height:19px;
padding-top:6px;
}
nav a.utility{
width:100px;
}
[class^="icontgdd-"],[class*="icontgdd-"],[class^="iconmobile-"],[class*="iconmobile-"]{
background-image:url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V4/icondesktop2022@1x_edit.png?v=004);
background-repeat:no-repeat;
display:inline-block;
height:30px;width:30px;
line-height:30px;
vertical-align:middle
}
@media all and (-webkit-min-device-pixel-ratio:1.5){
[class^="icontgdd-"],[class*="icontgdd-"],[class^="iconmobile-"],[class*="iconmobile-"]{
background-image:url(https://cdn.tgdd.vn/v2015/Content/desktop/images/V4/icondesktop2022@2x_edit.png?v=003);
background-size:500px 100px;
}
}
.icontgdd-logo{
background-position:0 0;
width:156px;
height:30px;
display:block;
margin:auto;
}
.icontgdd-topsearch{
background-position:-160px 0;
width:20px;
height:20px;
display:block;
margin:1px auto 0;
}
.icontgdd-mobile{
background-position:-190px 0;
width:16px;
height:25px;
display:block;
margin:2px auto 3px;
}
.icontgdd-tablet{
background-position:-209px 0;
display:block;
margin:0 auto 5px;
width:33px;
height:22px;
}
.icontgdd-laptop{
background-position:-245px 0;
display:block;
margin:0 auto 5px;
width:39px;
height:21px;
}
.icontgdd-phukien{
background-position:-288px 0;
display:block;
margin:0 auto 5px;
width:22px;
height:22px;
}
.icontgdd-maydoitra{
background-position:-315px 0;
display:block;
margin:0 auto 4px;
width:34px;
height:26px;
}
.icontgdd-simcard{
background-position:-355px 0;
display:block;
margin:0 auto 5px;
width:18px;
height:23px;
}
.icontgdd-news{
display:block;
margin:0 auto 2px;
background-position:-428px -50px;
width:28px;
height:25px;
}
.icontgdd-ask{
background-position:-410px 0;
display:block;
margin:0 auto 3px;
width:25px;
height:25px;
}
.icontgdd-gameapp{
background-position:-462px -52px;
display:block;
margin:0 auto 5px;
height:20px;
width:32px;
}
.icontgdd-promo{
background-position:-475px 0;
display:block;
margin:0 auto 3px;
width:22px;
height:24px
}
.icontgdd-watch{
background-position:-362px -50px;
display:block;
margin:0 auto 0;
width:16px;
height:27px
}
.rowfoot1{
display:block;
overflow:hidden;
width:100%;
min-width:1024px;
max-width:1200px;
margin:0 auto;
padding:15px 0;
}
.colfoot{
float:left;
width:28%;
margin:0;
position:relative;
}
.collast{
width:11%;
float:right;
}
.colfoot li{
float:none;
position:relative;
font-size:13px;
color:#444;
}
.colfoot li a{
display:block;
color:#288ad6;
font-size:14px;
line-height:25px;
padding-top:5px;
}
.colfoot li a:hover{
color:#666;
}
.colfoot li a.bct,.colfoot li a.dmca-badge{
display:inline-block;
}
.colfoot li p{
display:block;
padding-top:5px;
line-height:25px;
font-size:14px;
color:#666;
}
.colfoot li p a{
display:inline;
font-weight:600;
color:#333;
padding:0 5px;
}
.colfoot li.showmore{
font-weight:bold;
}
.colfoot li.showmore a:after{
content:'';
display:inline-block;
width:0;
height:0;
border-top:5px solid #288ad6;
border-left:5px solid transparent;
border-right:5px solid transparent;
margin:0 0 0 5px;
position:relative;
top:-2px
}
.colfoot li.showmore a:hover:after{
border-top:5px solid #666;
}
.colfoot li.hidden{
display:none;
}
.colfoot li a.linkfb{
float:left;
padding:0 10px 0 0;
margin:9px 0 2px;
border-right:1px solid #e9e9e9;
font-size:12px;
line-height:1;
color:#288ad6;
}
.colfoot li a.linkyt{
float:left;
padding:0 0 0 10px;
margin:9px 0 2px;
font-size:12px;
color:#288ad6;
line-height:1;
}
.colfoot li a.dmx{
display:block;
overflow:hidden;
clear:both;
padding:5px 0;
}
.rowfoot2{
width:100%;
min-width:980px;
overflow:hidden;
background:#f8f8f8;
padding:10px 0;
}
.rowfoot2 p{
display:block;
width:100%;
margin:auto;
font-size:10px;
color:#999;
text-align:center;
}
.rowfoot2 a{
color:#999;
}
.icontgdd-share1{
background-position:0 -30px;
width:13px;height:13px;
margin-right:3px;
}
.icontgdd-share3{
background-position:-16px -30px;
width:17px;
height:13px;
margin-right:3px;
}
.icontgdd-dmx{
background-position:-36px -30px;
width:100px;
height:19px;
}
.icontgdd-bct{
background-position:0 -50px;
width:110px;
height:38px;
}
.icontgdd-hg{
background-position:-384px -49px;
width:45px;
height:38px;
}
.stickcart{
position:fixed;
right:70px;
bottom:42px;
background:#fff;
border-radius:40px;
box-shadow:0 0 10px 0 rgba(0,0,0,.15);
font-size:14px;
color:#288ad6;
padding:0 10px 0 0;
width:130px;
z-index:99;
}
.stickcart div{
float:left;
width:38px;
height:38px;
border-radius:40px;
background:#ffde31;
margin:2px 5px 2px 2px;
}
.stickcart span{
display:block;
padding:4px 0 0;
white-space:nowrap
}
.stickcart strong{
display:block;
white-space:nowrap;
}
.icontgdd-cartstick{
background-position:-265px -30px;
width:22px;
height:18px;
display:block;
margin:11px 0 0 6px;
}
[class^="iconlogo-"],[class*="iconlogo-"]{
background-image:url(/Content/desktop/images/V4/logosprite@1x.png?v=3);
background-repeat:no-repeat;
display:inline-block;
height:30px;
width:30px;
line-height:30px;
vertical-align:middle;
}
@media(-webkit-min-device-pixel-ratio:1.5){[class^="iconlogo-"],[class*="iconlogo-"]{
background-image:url(/Content/desktop/images/V4/logosprite@2x.png?v=3);
background-size:517px 20px;
}
}
.iconlogo-bhx{
background-position:-220px 0;
width:90px;
height:19px;
}
.iconlogo-dmx{
background-position:-109px 0;
width:111px;
height:19px;
}
.iconlogo-ma{
background-position:-313px 0;
width:100px;
height:19px;
}
.iconlogo-ta{
background-position:-409px 0;
width:100px;
height:19px;
}
.group{
display:block;
overflow:hidden;
clear:both;
}
.group label{
display:block;
font-size:12px;
color:#888;
margin-top:10px;
}
.group a{
vertical-align:top;
padding-top:0 !important;
}
.breadcrumb{
display:block;
overflow:hidden;
margin:0;
background:#fff;
line-height:32px;
padding-top:5px;
}
.breadcrumb li{
display:inline-block;
vertical-align:middle;
overflow:hidden;
}
.breadcrumb li a{
display:inline-block;
white-space:nowrap;
font-size:14px;
color:#288ad6;
padding:0 10px 0 0;
}
.breadcrumb li a span{
font-size:14px;
padding:0;
color:#288ad6;
}
.breadcrumb span{
display:inline-block;
font-size:20px;
color:#999;
padding:2px 5px 0 0;
line-height:1;
}
.breadcrumb li h1,.breadcrumb li h2{
display:inline-block;
font-size:14px;color:#288ad6;font-weight:normal;line-height:32px}
.breadcrumb li h1 a{
color:#288ad6;
}
.breadcrumb li h2 a{
padding-left:2px;
color:#288ad6;
}
#back-top{
display:none;
z-index:99;
}
#back-top span:before{
cursor:pointer;
background:#fdd504;
width:40px;
position:fixed;
right:20px;
bottom:45px;
height:40px;
text-align:center;
line-height:40px;
font-size:18px;
-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear;
color:#000;
content:"â–²";
opacity:.7;
z-index:8;
border-radius:5px;
}
#back-top span:hover:before{
opacity:1;
}
#dlding,#imgtrack,.none{
display:none;
}
.wrap-suggestion{
display:block;
border:1px solid #e2e2e2;
background:#fff;
position:absolute;
left:0;
width:345px;
top:45px;
z-index:9;
}
.wrap-suggestion:after,.wrap-suggestion:before{
bottom:100%;
left:80px;
border:solid transparent;
content:" ";
height:0;
width:0;
position:absolute;
}
.wrap-suggestion:after{
border-color:rgba(255,255,255,0);
border-bottom-color:#fff;
border-width:8px;
margin-left:-8px;
}
.wrap-suggestion:before{
border-color:rgba(218,218,218,0);
border-bottom-color:#dadada;
border-width:9px;
margin-left:-9px;
}
.wrap-suggestion li{
display:block;
background:#fff;
overflow:hidden;
list-style:none;
border-bottom:1px dotted #ccc;
}
.wrap-suggestion li.link{
border:none;
padding-left:10px;
padding-right:10px;
}
.wrap-suggestion li.link:first-child{
margin-top:6px;
}
.wrap-suggestion li.link.last{
margin-bottom:6px;
}
.wrap-suggestion li.link a{
font-size:14px;
color:#3b7adb;
}
.wrap-suggestion li.text{
background-color:#f5f5f5;
color:#666;
font-size:13px;
border:none;
padding:7px 10px;
}
.wrap-suggestion li:last-child{
border-bottom:0;
}
.wrap-suggestion li:hover,.wrapp-producthome .wrap-suggestion li.selected,.wrap-main .wrap-suggestion li.selected{
background:#f8f8f8;
}
.wrap-suggestion li a{
display:block;
overflow:hidden;
padding:6px;
color:#333;
font-size:12px;
}
.wrap-suggestion li a img{
float:left;
width:60px;
height:auto;
margin:0 6px 0 0;
}
.wrap-suggestion li a h3{
display:block;
width:auto;
color:#333;
font-size:14px;
font-weight:700;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
}
.wrap-suggestion li a h6{
font-size:12px;
color:#e02020;
}
.wrap-suggestion li a span{
float:left;
font-size:13px;
color:#666;
}
.wrap-suggestion li a cite{
font-size:12px;
}
.wrap-suggestion li a i{
font-size:12px;
color:#e02020;
display:inline-block;
padding-left:1px;
font-style:normal;
}
.wrap-suggestion li a span.price{
font-size:14px;
color:#d0021b;
float:none;
font-weight:bold;
display:inline-block;
padding:2px 2px 0 0;
}
.wrap-suggestion li a label{
display:block;
font-size:12px;
color:#999;
padding-left:56px;
}
.wrap-suggestion li a label strong{
font-size:12px;
color:#d0021b;
}
.wrap-suggestion li.samsung img{
display:inline-block;
vertical-align:middle;
width:80px;
}
.wrap-suggestion li.samsung b{
display:inline-block;
vertical-align:middle;
color:#333;
}
.wrap-suggestion li a .cheappriceonline{
color:#e67e22;
font-size:12px;
}
.wrap-suggestion li a .cheappriceonline cite{
color:#333;
}
.wrap-suggestion li a .promo img{
display:none;
}
.wrap_rts{
overflow:hidden;
position:fixed;
z-index:11;
bottom:0;
right:10%;
}
.wrap_rts .pop{
display:block;
overflow:hidden;
position:relative;
width:100%;
max-width:400px;
margin:auto;
background:#fff;
margin-top:20%;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
border:solid 1px #ccc;
}
.wrap_rts .pop .hdpop{
padding:10px 0 10px 10px;
border-bottom:solid 1px #ccc;
font-size:15px;
background:#f89406;
color:#fff;
}
.wrap_rts .pop .hdpop .closehd{
float:right;
color:#fff;
border:solid 1px #fff;
height:25px;
width:25px;
border-radius:50%;
position:absolute;
top:5px;
right:10px;
font-size:13px;
text-align:center;
cursor:pointer;
font-style:normal;
box-sizing:border-box;
padding-top:3px;
}
.wrap_rts .pop .if{
display:block;
padding:10px 10px 0;
}
.wrap_rts .pop .if .price{
color:#d0021b;
}
.wrap_rts .pop .ivt{
display:block;
padding:10px 10px 0;
text-align:center;
}
.wrap_rts .pop ul.ol{
padding:10px;
border-bottom:1px solid #ddd;
}
.wrap_rts .pop ul.ol li .iprn{
color:#288ad6;
}
.wrap_rts .pop ul.ol li .iprn:before{
content:'â€¢';
display:inline-block;
vertical-align:middle;
font-size:20px;
color:#999;
margin-right:5px;
}
.wrap_rts .pop ul.ol li .iprp{
color:#d0021b;
float:right;
}
.wrap_rts .pop ul.rtt{
padding:10px;
overflow:hidden;
}
.wrap_rts .pop ul.rtt li{
text-align:center;
float:left;
width:33%;
color:#288ad6;cursor:pointer;
}
.wrap_rts .pop ul.rtt li img{
display:block;
width:40px;
height:40px;
margin:0 auto 10px;
}
.wrap_rts .pop .chsRtUstf{
border-radius:5px;
border:solid 1px #ccc;
overflow:hidden;
margin:10px;
padding:10px;
}
.wrap_rts .pop .chsRtUstf span{
display:block;
text-align:center;
margin:0 0 10px;
}
.wrap_rts .pop .chsRtUstf a.chbUt{
display:block;
width:50%;
float:left;
color:#288ad6;
padding:10px 0;
}
.wrap_rts .pop .chsRtUstf a.chbUt i{
margin:0 8px;
}
.wrap_rts .pop .chsRtUstf a.chbUt span{
display:inline;
}
.wrap_rts .pop .chsRtUstf a.btnRsUs{
padding:8px;
background:#288ad6;
color:#fff;
border-radius:5px;
text-align:-webkit-center;
width:75px;
margin:10px auto 0;
display:-webkit-box;
}
.wrap_rts .pop .msg{
margin:10px 0 20px;
}
.wrap_rts .pop .btnRs{
padding:8px;
background:#fff;
color:#288ad6;
border:solid 1px #288ad6;
border-radius:5px;
text-align:-webkit-center;
width:75px;
margin:10px auto 0;
display:-webkit-box;
}
.wrap_rts .iconmobile-uncheckbox{
background-position:-145px -30px;
width:16px;
height:16px;
vertical-align:sub;
}
.wrap_rts .iconmobile-checkbox{
background-position:-165px -30px;
width:16px;height:16px;
vertical-align:sub;
}
.hide{
display:none !important;
}
@media screen and (max-width:1220px){
.homebanner img {
    width: 100%!important;
}
.homebanner {
    float: left;
    width: 65.834%;
    height: 354px;
    overflow: hidden;
    position: relative;
    background: #f0f0f0;
    margin-bottom: 15px;
}
.homenews {
    float: right;
    width: 33.2%;
    height: 354px;
    overflow: hidden;
}
.wrap-main{
width:1024px;
}
.logo{
width:35px;
}
.logo a img{
display:none;
}
.icontgdd-logo{
width:28px;
}
#search-site{
width:200px;
}
.topinput{
width:152px;
}
nav{
width:764px;
}
nav a{
font-size:11px;
}
.colfoot li a{
padding:0 0 0 5px;
line-height:30px;
}
.colfoot{
width:26.5%;
}
.collast{
width:13%;
}
.colfoot li a.bct{
padding:0;
}
.breadcrumb{
margin:0 10px;
}
}
#search-site .wrap-suggestion-b2b{
display:none;
}
.wrap-suggestion li a h6.textOLOL{
color:#d0021b;
}
.mix-menu{
position:absolute;
right:0;
display:none;
width:100%;
margin-top:3px;
}
.mix-menu a{
display:block;
width:100%;
height:44px;
padding:6px 0 4px;
color:#000;
background:#fed700;
font-size:13px;
text-align:center;
position:relative;
border-top:1px solid rgba(0,0,0,.1);
text-transform:none;
}
.mix-menu a.cardsim{
line-height:44px;
}
.mix-menu a:hover{
border-top:1px solid rgba(0,0,0,.1);
background-color:#eee;
}
#utility-cardsim{
width:100px;
height:36px;
padding:15px 5px 4px;
color:#000;
background:#fed700;
background-color:#fed700;
font-size:13px;
text-align:center;
display:inline-block;
border-left:1px solid rgba(0,0,0,.1);
position:relative;
}
#utility-cardsim:hover .mix-menu{
display:block;
}
#utility-cardsim:hover #utility-cardsim{
background-color:#fed700;
}
#utility-cardsim:hover{
background-color:#f5f5f5;
}
nav a.promo{
width:85px;
}
#dot{
width:10px;
height:10px;
background-color:#f33;
border-radius:100%;
position:absolute;
left:0;top:50%;
margin-top:-5px;
display:block;
}
#dot .ping{
border:1px solid #f33;
width:10px;
height:10px;
opacity:1;
background-color:rgba(238,46,36,.2);
border-radius:100%;
-webkit-animation-duration:1.25s;
animation-duration:1.25s;
-webkit-animation-name:sonar;
animation-name:sonar;
-webkit-animation-iteration-count:infinite;
animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
animation-timing-function:linear;
display:block;
margin:-1px 0 0 -1px;
}
video.videoUploadCms{
width:100%;
height:auto;
}
@-webkit-keyframes sonar{
0%{
opacity:1;
-webkit-transform:scale(1);
transform:scale(1);
}
100%{
-webkit-transform:scale(3);
transform:scale(3);
opacity:0;
}
}
@keyframes sonar{
0%{
opacity:1;
-webkit-transform:scale(1);
transform:scale(1);
}
100%{
-webkit-transform:scale(3);
transform:scale(3);
opacity:0;
}																																																																											}
.owl-carousel .owl-wrapper:after{
content:".";display:block;
clear:both;
visibility:hidden;
line-height:0;
height:0;
}
.owl-carousel{
display:none;
position:relative;
width:100%;
-ms-touch-action:pan-y;
}
.owl-carousel .owl-wrapper{
display:none;
position:relative;
-webkit-transform:translate3d(0,0,0);
}

.owl-carousel .owl-wrapper-outer.autoHeight{
-webkit-transition:height 500ms ease-in-out;
-moz-transition:height 500ms ease-in-out;
-ms-transition:height 500ms ease-in-out;
-o-transition:height 500ms ease-in-out;
transition:height 500ms ease-in-out;
}
.owl-carousel .owl-item{
float:left;
}
.owl-controls .owl-page,.owl-controls .owl-buttons div{
cursor:pointer;
}
.owl-controls{
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{
-webkit-backface-visibility:hidden;
-moz-backface-visibility:hidden;
-ms-backface-visibility:hidden;
-webkit-transform:translate3d(0,0,0);
-moz-transform:translate3d(0,0,0);
-ms-transform:translate3d(0,0,0);
}
.owl-theme .owl-controls{
top:0;
text-align:center;
}
.owl-theme .owl-controls .owl-buttons div{
display:inline-block;
zoom:1;
*display:inline;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
text-decoration:none;
}
.owl-theme .owl-controls .owl-page span{
display:block;
width:4px;
height:4px;
margin:0 5px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
border-radius:20px;
background:#d8d8d8;
}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{
background:#ef8a32;
}
.owl-theme .owl-controls .owl-page span.owl-numbers{
height:auto;
width:auto;
color:#fff;
padding:2px 10px;
font-size:12px;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
}
[class^="icontgdd-"],
[class*="icontgdd-"],
[class^="iconmobile-"],
[class*="iconmobile-"] {
    background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@1x.png?v=2);
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {

    [class^="icontgdd-"],
    [class*="icontgdd-"],
    [class^="iconmobile-"],
    [class*="iconmobile-"] {
        background-image: url(https://www.thegioididong.com/Content/desktop/images/V5/icondesktop20200728@2x.png?v=2);
        background-size: 500px 115px;
    }
}

.icontgdd-cart {
    width: 20px;
    height: 18px;
    background-position: -144px -91px;
}

.icontgdd-mobile {
    width: 13px;
    height: 20px;
    background-position: 0 -91px;
}

.icontgdd-laptop {
    width: 24px;
    height: 20px;
    background-position: -16px -91px;
}

.icontgdd-tablet {
    width: 16px;
    height: 20px;
    background-position: -43px -91px;
}

.icontgdd-phukien {
    width: 22px;
    height: 20px;
    background-position: -60px -91px;
}

.icontgdd-watch {
    width: 14px;
    height: 20px;
    background-position: -83px -91px;
}

.icontgdd-fashionwatch {
    width: 14px;
    height: 20px;
    background-position: -102px -91px;
}

.icontgdd-pc {
    width: 23px;
    height: 20px;
    background-position: -118px -91px;
}

section,
.home-menu section,
body>.topbanner:first-child,
body>div.banner:nth-child(2) {
    margin-top: 80px;
}

section.cate:nth-child(2) {
    margin-top: 55px;
}

.compare-title {
    margin-top: 100px;
}

header {
    background-color: #000;
    height: 80px;
}

header .wrap-main {
    height: 40px;
}

header #search-site {
    height: 30px;
    margin-top: 5px;
    width: 200px;
}

header #search-site .topinput {
    height: 24px;
}

header #search-site .btntop {
    height: 30px;
    width: 30px;
}

header .wrap-suggestion {
    top: 35px;
}

header .logo {
    padding: 6px 0 4px 5px;
}

header .menu-info {
    width: 810px;
    float: right;
}

header .menu-info>* {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
}

header .menu-info>a.a1 {
    width: 97px;
    border: 1px solid #8F8F8F;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 4px 0;
}

header .menu-info>a.a1:hover,
header .menu-info>a.a1.actmenu {
    background: rgba(255, 255, 255, .4);
}

header .menu-info>a.a1>* {
    display: inline-block;
    vertical-align: middle;
}

header .menu-info>a.a1>i {
    line-height: 18px;
    text-align: center;
    margin-right: 5px;
    text-indent: -9999px;
}

header .menu-info>a.a1.actmenu>i {
    background-color: #FF0000;
    border-radius: 50%;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-indent: 0;
    background-image: none;
}

header .menu-info>a.a2 {
    padding: 2px 10px 0 10px;
    line-height: 1.3;
    width: 120px;
    text-align: center;
}

header .menu-info>a.a3 {
    text-transform: uppercase;
    color: #FFE66B;
}

header .menu-info>a.liveevent {
    float: none;
    color: #FFE66B;
    max-width: 200px;
    border-left: 1px solid #232323;
    position: relative;
    padding: 0 0 0 40px;
    margin-bottom: 0;
    margin-left: 0;
}

header .menu-info>a.liveevent .text {
    white-space: normal;
    overflow: visible;
    max-height: 34px;
    display: inline-block;
    text-decoration: none;
    color: #FFE66B;
    line-height: 1.3;
}

header .menu-info>a.liveevent:hover .text {
    color: #FFE66B;
}

header .menu-info>a.liveevent #dot {
    background-color: #FFE66B;
    left: 15px;
}

header .menu-info>a.liveevent #dot .ping {
    border-color: #FFE66B;
    background-color: rgba(255, 230, 107, .2);
}

header .menu-info>div {
    float: right;
}

header .menu-info>div>a,
header .menu-info>div>div {
    padding: 0 18px;
    border-left: 1px solid #232323;
    color: #fff;
    height: 40px;
    line-height: 40px;
    float: left;
}

header .menu-info>div>div {
    position: relative;
}

header .menu-info>div>div>span {
    color: #fff;
}

header .menu-info>div>div>div {
    background-color: #fff;
    position: absolute;
    width: 150px;
    left: 0;
    padding: 5px 0;
    display: none;
    z-index: 9;
}

header .menu-info>div>div>div>a {
    display: block;
    padding: 10px 15px;
    white-space: normal;
    text-transform: uppercase;
    color: #333;
    line-height: 1;
}

header .menu-info>div>a:hover,
header .menu-info>div>a.actmenu {
    background-color: #fff;
    color: #333;
}

header .menu-info>div>div:hover {
    background-color: #fff;
}

header .menu-info>div>div:hover>span {
    color: #333;
}

header .menu-info>div>div:hover>div {
    display: block;
}

header .wrap-nav {
    background-color: #FED101;
    height: 40px;
    overflow: hidden;
}

header .wrap-nav {
    background-color: #FED101;
    height: 40px;
    overflow: hidden;
}

header .wrap-nav>nav {
    max-width: 1200px;
    margin: auto;
    min-width: 1024px;
    width: 100%;
}

header .wrap-nav>nav>a {
    padding: 0 12px;
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    white-space: nowrap;
    color: #000;
    text-transform: none;
    font-size: 14px;
}

header .wrap-nav>nav>a>* {
    display: inline-block;
    vertical-align: middle;
}

header .wrap-nav>nav>a>i {
    margin: 0 5px 0 0;
}

header .wrap-nav>nav>a>b {
    font-weight: normal;
}

@media screen and (max-width:1220px) {
    header .wrap-main {
        width: 100%;
    }

    header .menu-info {
        width: calc(100% - 260px);
    }

    header .menu-info>a.a2 {
        padding: 0 5px;
    }

    header .wrap-nav>nav>a {
        padding: 0 12px;
    }

    header .wrap-nav>nav>a>i {
        display: none;
    }

    header .menu-info>div>a {
        padding: 0 12px;
    }
}
/**trang tin tá»©c **/
.post-page .category-title {
    border-bottom: 1px solid #007DBA;
    padding: 0;
    margin-bottom: 15px;
}
.post-page {
    margin-top: 20px;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.postTitle .post-title {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}
